.products-container {

  .product-settings {
    flex-direction: column;
    background-color: white;
    z-index: 1;
    justify-content: flex-end;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 20px;
  }
  
  .product-img {
    object-fit: contain;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 5px;
  }

}
