.registerbutton {
  background-color: #f0c14b !important;
  border-radius: 2px !important;
  border: 1px solid !important;
  color: rgb(48, 47, 47) !important;
  border-color: #a88734 #9c7e31 #846a29 !important;
}

.title-register {
  font-size: 30px;
}
