.subtotal {
  
  flex-direction: column;
  justify-content: space-between;

  width: 300px;

  background-color: #f3f3f3;
  border: 1px solid #dddddd;
  border-radius: 3px;
}

.button-procced {
  background-color: #f0c14b !important;
  color: rgb(48, 47, 47) !important; 
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
}

.button-procced:hover {
  background-color: #dfb243 !important;
}
