.checkout {
  background-color: rgb(255, 255, 255);
  height: max-content;
}

.checkout-left {
  background-color: rgb(255, 255, 255);
  height: max-content;
}

.checkout-right {
  background-color: rgb(255, 255, 255);
  height: max-content;
}

.checkout-title {
  border-bottom: 1px solid lightgray;
}
